:root {
    --color-primary: #099FC5;
    --color-secondary: #8CE3F9;
    --color-menu: #004F63;
    --color-selected: #3CD7FF;
    --color-white: #FFFF;

}
.loader{
    background-image: url(../img/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff7d;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.dx-card {
    overflow: hidden !important;
    -webkit-box-shadow: 0 1px 6px #0000002e !important;
    box-shadow: 0 1px 6px #0000002e !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    margin: auto !important;
    padding: 1rem !important;
}
.label{
    font-size: .9rem;
    color: #0009;
    padding-bottom: 0.5rem;
}
.dx-datagrid-headers .dx-datagrid-table .dx-row>td .dx-sort,
.dx-datagrid-headers .dx-datagrid-table .dx-row>td .dx-sort-indicator,
.dx-datagrid-headers .dx-datagrid-table .dx-row>td:hover .dx-datagrid-text-content {
    color: #3CD7FF;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row>td:hover .dx-sort {
    color: #3CD7FF;
}
.dx-datagrid-header-panel {
    border-bottom: 1px solid #e0e0e0;
    padding: 0;
    background-color: #fff;
  }
  .dx-treelist .dx-treelist-table .dx-header-row > td {
    padding-top: .8rem;
    padding-bottom: .8rem;
  }
  .dx-treelist .dx-treelist-content .dx-treelist-table .dx-row > td.dx-cell-modified:not(.dx-field-item-content):not(.dx-validation-pending),
.dx-treelist .dx-treelist-content .dx-treelist-table .dx-row > td.dx-treelist-invalid:not(.dx-field-item-content):not(.dx-validation-pending):not(.dx-treelist-select-all),
.dx-treelist-headers .dx-treelist-table .dx-row>td .dx-sort,
.dx-treelist-headers .dx-treelist-table .dx-row>td .dx-sort-indicator,
.dx-treelist-headers .dx-treelist-table .dx-row>td:hover .dx-treelist-text-content {
  color: #3CD7FF;
}
.menu-container dx-tree-view {
    background: var(--color-primary);

    .dx-treeview-node {
        font-weight: 600 !important;
        background: var(--color-menu);
        color: var(--color-secondary);
        border-bottom: 1px solid #099FC5 !important;

        .dx-treeview-toggle-item-visibility {
            color: var(--color-secondary);
        }

        &.dx-state-selected>.dx-treeview-item * {
            color: #FFF !important;
        }

        &:not(.dx-state-focused)>.dx-treeview-item.dx-state-hover {
            background: transparent !important;
            color: #ffffff;
        }

        // menu child color
        .dx-treeview-node-container {
            .dx-treeview-node-is-leaf {
                background: #00708C;
                border-bottom: 1px solid #099FC5;

                &.dx-state-selected {
                    background: #0384A5;

                    .dx-treeview-item>.dx-treeview-item-content>span {
                        display: flex;
                        align-items: center;

                        &::before {
                            content: '';
                            background: #FFF;
                            width: 5px;
                            height: 5px;
                            border-radius: 1rem;
                            position: absolute;
                            left: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

// Header logo CSS
.logo-img {
    .dx-item-content.dx-toolbar-item-content {
        div {
            display: inline-flex;
            align-items: center;
            color: #FFF;
            font-weight: 600;
        }
    }
}

// login background
.login-bg .dx-scrollable-wrapper .dx-scrollable-container .dx-scrollable-content .dx-scrollview-content {
    height: 100vh;
}

// login field
.login-input-field {
    .dx-texteditor.dx-editor-outlined {
        box-shadow: none;
        border-radius: 2rem;
        width: 22rem;
        background: #7878787a;

        &.dx-state-hover {
            box-shadow: inset 0 0 0 1px white;
        }

        &.dx-state-focused {
            box-shadow: inset 0 0 0 1px var(--color-secondary);
        }
    }

    .dx-texteditor-input {
        color: #FFFF !important;
    }

    .dx-placeholder {
        margin-left: 3.3rem !important;
    }

    input {
        border-radius: 2rem;
    }

    .dx-texteditor-input-container {
        display: flex;
        align-items: center;

        &::before {
            content: '';
            // background: url(../img/icons/login-icons/icon-user.svg);
            height: 41px;
            width: 3.5rem;
            background-repeat: no-repeat !important;
            margin-left: .3rem;
        }
    }

    &.user .dx-texteditor-input-container::before {
        background: url(../img/icons/login-icons/icon-user.svg);
    }

    &.phone .dx-texteditor-input-container::before {
        background: url(../img/icons/login-icons/icon-phone.svg);
    }

    &.email .dx-texteditor-input-container::before {
        background: url(../img/icons/login-icons/icon-mail.svg);
    }

    &.password .dx-texteditor-input-container::before {
        background: url(../img/icons/login-icons/icon-pass.svg);
    }

    &.remember-me {
        margin-top: -.2rem !important;

        dx-check-box {
            color: var(--color-white);

            .dx-checkbox-icon {
                border-color: #FFF !important;
            }
        }

        a {
            color: #FFF !important;
            text-decoration: none;
        }
    }

    &.form-button {
        margin-top: -2rem;

        .create-btn.dx-button-mode-outlined {
            background-color: transparent;
            color: rgba(255, 255, 255, 0.87);
            box-shadow: none;
            border: 1px solid rgba(255, 255, 255, 0.24);
        }
    }
    &.otp {
        .dx-texteditor-input-container::before{
            width: 0;
            margin-left: 0;
        }
        input{text-align: center;}
        .dx-placeholder{
            right: 0;
            margin-left: 0;
            text-align: center;
        }
    }
}

//   common css
h1,
h2,
h3,
h4,
h5,
h6 {
    transition: 0.5s all ease-in-out !important;
}

.color-white {
    color: #FFF;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    ul {
        color: #FFF;
    }
}

.font-size-1rem {
    font-size: 1rem;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}

.br-10px {
    border-radius: 10px;
}

.width-2rem {
    width: 2rem;
}

// toolbar search panel & button
.p-dxSearchPanel {
    .dx-datagrid-search-panel {
        width: 15rem !important;
        margin-left: 0;
        background: transparent !important;
        border: 1px solid #00000048;
        border-radius: 4px;

        &.dx-state-focused {
            border-color: var(--color-selected);
        }

        .dx-placeholder {
            top: -3px !important;
        }

        .dx-texteditor-input {
            padding: 10px 16px 10px 46px !important;
        }

    }

    .dx-texteditor.dx-editor-filled::after {
        border-bottom: 0;
    }

    .dx-texteditor.dx-editor-filled::before {
        border-bottom: 0;
    }
}

.p-dxAddBtn {
    border-radius: 4px;

    .dx-button {
        height: 42px;
        width: 42px;
        border-radius: 4px !important;
        border: 1px solid rgba(0, 0, 0, 0.274);

        .dx-button-content .dx-icon {
            margin-right: 0 !important;
            font-size: 21px !important;
        }
    }
}

// User Infomation poup CSS
.fix-label-position {
    .dx-field-item-label-location-top {
        padding-left: 0;
        font-size: .9rem;
        padding-bottom: .5rem;
    }

    .dx-placeholder {
        top: -3px;
        font-size: 13px;
        opacity: .6;
    }
}

// dx toster icons
.dx-toast-wrapper .dx-toast-content {
    display: flex;
}

.dx-toast-icon {
    width: 35px;
    height: 35px;
    display: block;
}

.dx-toast-info .dx-toast-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAQAAAC00HvSAAABoklEQVRIx63WPUvDQBjA8QMFsZNLlgpxtINjBsFVqINghm4dRAe/Rpdm6UcQHERwUYdAJ8HvkKHEQdrPEBQUrf7PoabtveSSSrit3PPjeve8RCCsyyMkIiYlAzJSYiJCPPt+248BfRKkdSX0CcoZnx7jAiJfY3r4LqbNsITI15B2EdNlVBGRSEZ0bUyXyQqIRDJZQIu/M1oRmZ2ovcz4zjt558NxR/6C6Vk2fHLPOXtsIhA0aHHGA1/Gvl7OBMYT/3BF05poTS5Be/5gxvQ15JWjgtyerWPelP19hMDTMvabQyciEJwoJ0rwBKF2lutSRCC4UWJCQaQx+5WYAyUmEsQas1WJ2VJiYkGqMTuVmG0lJhVkGnNaiblQYjKhZYHkmY1SpMGLEoN5Gskt605kjTstIjPvRiJ50tuSksePxv7UfKm8HAe0DGKXgZbB85eKHLWdKkjHUpjzvAmdHaUKIgnNmrIzLiTBs1W4ybiQvwq39RuV6TB1jpvA1f1yxo0sdT9XLy5DlF5cPBmmq0yG2uZUbVOzthle2xdFbd83//za+gXw/JH9LjmoAgAAAABJRU5ErkJggg==);
}

.dx-toast-warning .dx-toast-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAQAAAC00HvSAAABJklEQVRIx62WvW2EQBBGpwlSArdgSrBESuKIQhySLJJbcAuXrXTZteCAAG3GlWBRwVsHB+Ykw8zeafVlaPSY/1lBdlXQ0OMJzMBMwNPTUOzb732scAzEXQ04KhtT0jEdIFZNdJQapuZsIFadqY8wLWMiJBIZafcwLdcHIJHIdQNt4YwPQm4e1feYMjkn/3NUbpjuSUgk0q2YSinx5xL0SSl/dcM45V8r5qLYOEQoDjs2FTNQCI0a+deC+VatGqFPwugD0gs+A8YLQTW4LJgf1SoIcxJG751ZIAMGy5sp1ZuQgHkxMMGqVJq81Tdp6q0unnhFeDMK3lgz9b6k+MOaKX3CUzDO3jd2UH/7JtP2y7aLM12GbHcq29XMdsOzvSiyvW+efG39AmPXSbHWZjgLAAAAAElFTkSuQmCC);
}

.dx-toast-error .dx-toast-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAQAAAC00HvSAAABeklEQVRIx62WMWrDQBBFx01I5zQinQ5hdINA3Kp3mUNEnSBIdwgEcgeBC18gVRojjDr7BklUxAE3b1NYihVrdmWbZbpl9FjN/zOzgqgREJNTUFEDNRUFOTGBnq8dRmQsMWosyYiGMSEpawuijTUpoQszZT6AaGPO1IaZsToRYjCsmGmYGZszIAbD5gA6/M7qTMj+RtMuJjy5Jv0ahQdMeiHEYEhbTKRK/KN+9K3IH+0xmZK+4Jb33mnChM/eaYYIgeLYBdcI4yNQgiBM+Oo5OxBi5S5l0ztdUNJoGrPr5cdCrtbgGOSCGHKhsCjQBbkhhkKorFK2oKsBiKESaocnys58sUMMtYDTXA8NZMSbIwv3bZJO/48VH3VuY6/NYwO4V+Tv1aYYgMTsVB8dKZUPQmyG/OcbzcUvijot6IYPzcVaT225UyQuCRjxrGyLwNbhW54Un5S8KrmZa96cGn/zxtP08zaLPW0Gb3vK29b0tsO9vSi8vW8ufG39AnvvGenmMu5AAAAAAElFTkSuQmCC);
}

.dx-toast-success .dx-toast-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAQAAAC00HvSAAABlklEQVRIx62Wv0rDUBSHTxE6uHTKGhDEzS2jg4vUMeBmX8BR8AFiJQEfwck3cAh2cxBcXEup3VoHF3UxS1FBvuvQhPy5N0lTwplyknz33HN+95wriNEsXAJCZkRAxIyQABfL/L3J6eAzRhltjI9Tj7HxmJcgEpvjYVdh+oxqEImN6JdhBkzXhCgUUwYmzIBFA4hCsUhB6XamDSGriPpZjL12TvQc2SnG2xCiUHgJxqktcdbe+SmU31lh/AaQJQ4HfOR8PiJYpYrVDU4RhD1+c8q2BLdBLNdxXW8KflcI1obcs4UgnGlvAiE0/DDhW/O90EMQDnMbWlkozDTnMz2OC6AvdhGEHT4Ny86EqOB6i1fNgv44QhC2mRi3Gwlozqs4kSnoHEHocFdWQT0ahWKYA93GT5elyY9MucmDHukiCCeGuDO5CUteJaAOgrDPskIKYZVuhpkG/1qpqKBaxRcIQpeHGmG6dWfKM0hfnxZW/Ql/qj0k/ib9Rh83Tqvdr7Ve3NJkaG1OtTY1W5vhrd0oWrvfbHjb+gdn1DPEHv9HmQAAAABJRU5ErkJggg==);
}

// dx-loader-indecator CSS
#large-indicator,
#small-indicator,
#medium-indicator {
    &.dx-loadindicator {
        position: absolute !important;
        background: #fff6 !important;
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        z-index: 999999999999 !important;

        .dx-loadindicator-content {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

#large-indicator .dx-loadindicator-content {
    height: 60px;
    width: 60px;
}

#small-indicator .dx-loadindicator-content {
    height: 20px;
    width: 20px;
}

#medium-indicator .dx-loadindicator-content {
    height: 40px;
    width: 40px;
}

//   dx-popup-toolbar Css
.dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection {
    padding: 0;
}

.dx-datebox-wrapper-datetime.dx-datebox-wrapper-calendar {
    >.dx-datebox-datetime-time-side {
        display: none;
    }
}

.dx-datebox-datetime-time-side .dx-timeview-field .dx-texteditor-container {
    .dx-texteditor-input {
        padding: 10px 7px !important;
    }

    .dx-texteditor-buttons-container .dx-numberbox-spin-container,
    .dx-dropdowneditor-button {
        margin-right: 0px !important;
    }
}

.dx-calendar-navigator {
    display: flex !important;
    justify-content: space-between;

    .dx-calendar-caption-button {
        left: 0;
    }
}

// Water Distribution
a.assign-btn {
    text-decoration: none !important;
    background: var(--color-primary);
    padding: .5rem 2rem;
    color: #fff !important;
    &:hover{ background: #0490b3;}
    &:active{background: #027592;}
  }