<form class="reset-password-form" (submit)="onFormSubmit($event)">
  <dx-form [formData]="formData" [disabled]="loading">
    <!-- pasword filed -->
    <dxi-item dataField="Password" editorType="dxTextBox" cssClass="login-input-field password mb-0 pb-0"
      [editorOptions]="{  stylingMode: 'outlined', placeholder: 'Password *', mode: 'password', value: 'Password'}">
      <dxi-validation-rule type="pattern" [pattern]="passPattern" message="Min 8 & max 16 characters, at least 1 letter and 1 number"></dxi-validation-rule>
      <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <!-- Confirm pasword filed -->
    <dxi-item 
      editorType="dxTextBox" 
      cssClass="login-input-field password mb-0 pb-0"
        [editorOptions]="{  
          stylingMode: 'outlined', 
          placeholder: 'Confirm Password *', 
          mode: 'password' }">

      <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule>
      <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
        message="Password do not match">
      </dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item itemType="button" horizontalAlignment="center" [buttonOptions]="buttonOptions"></dxi-item>

    

  </dx-form>
</form>