<div class="container">
    <div class="dx-card">
        <div class="dx-header">
            <span class="d-inline-flex align-items-center">
                <span *ngIf="enableBack" class="material-symbols-outlined arrow-back-btn" (click)="onBack.emit()">
                    chevron_left</span>
                <span class="ps-4_3">Assign Schedule</span>
            </span>
        </div>

        <div class="py-4 d-flex justify-content-center ">
            <dx-scheduler 
                timeZone="Asia/Dhaka" 
                [dataSource]="waterDistributions"
                [views]="['day', 'week', 'workWeek', 'month']" 
                currentView="week" 
                [currentDate]="currentDate"
                [height]="700" 
                [startDayHour]="1" 
                [endDayHour]="24" 
                [showAllDayPanel]="false"
                (onAppointmentAdded)="onWaterDispenseSlotAdded($event)"
                (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
                (onAppointmentUpdated)="onWaterDistributionUpdated($event)"
                (onAppointmentDeleted)="onWaterDistributionDeleted($event)">

                <dxo-editing 
                    [allowAdding]="enableBack && permissions.add" 
                    [allowDeleting]="permissions.delete"
                    [allowUpdating]="permissions.edit" 
                    [allowResizing]="true" 
                    [allowDragging]="true">
                </dxo-editing>

            </dx-scheduler>
        </div>
    </div>
</div>