<div class="container-fluid">

    <div class="dx-card">
        <div class="dx-header">

            <span class="d-inline-flex align-items-center">
                <!-- <span class="material-symbols-outlined arrow-back-btn" (click)="manageState(states.userList)">chevron_left</span> -->
                <span>Water Distribution</span>
            </span>

        </div>

        <div class="py-3">
            <dx-data-grid [dataSource]="dataSource" [showBorders]="true" [rowAlternationEnabled]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-toolbar>
                    <dxi-item location="before" name="searchPanel" cssClass="p-dxSearchPanel" locateInMenu="auto">
                    </dxi-item>

                    <dxi-item location="after" name="exportButton" locateInMenu="auto">
                    </dxi-item>
                </dxo-toolbar>

                <dxi-column dataField="userInfo.regNo" caption="Registration Number" alignment="center"></dxi-column>
                <dxi-column dataField="userInfo.shipName" caption="Name" alignment="center"></dxi-column>
                <dxi-column dataField="userInfo.contactPersonCell" caption="Phone Number" alignment="center">
                </dxi-column>
                <dxi-column dataField="uomId" caption="Unit" alignment="center">
                    <dxo-lookup [dataSource]="uoms" valueExpr="id" displayExpr="name"></dxo-lookup>
                </dxi-column>
                <dxi-column dataField="outletId" caption="Outlet" alignment="center">
                    <dxo-lookup [dataSource]="waterOutlets" valueExpr="id" displayExpr="name"></dxo-lookup>
                </dxi-column>
                <dxi-column dataField="rate" alignment="center">
                    <dxo-lookup [dataSource]="rates" valueExpr="id" displayExpr="rate"></dxo-lookup>
                </dxi-column>
                <dxi-column dataField="qty" caption="Quantity" alignment="center"></dxi-column>
                <dxi-column *ngIf="permissions.edit" caption="Distribute" [cellTemplate]="'distributeCellTemplate'">
                </dxi-column>
                <div *dxTemplate="let data of 'distributeCellTemplate'">
                    <dx-button text="Distribute" type="default" (onClick)="onDistributeBtnClick(data.data)">
                    </dx-button>
                </div>
                <dxo-export [enabled]="true" [allowExportSelectedData]="true" [fileName]="'User_List'">
                </dxo-export>
            </dx-data-grid>
        </div>
    </div>

</div>


<dx-popup [width]="'70%'" [height]="'75%'" [showTitle]="true" [dragEnabled]="false" [closeOnOutsideClick]="false"
    [showCloseButton]="true " [(visible)]="isPopupVisible" [wrapperAttr]="{class: 'p-dxToolbarHeader'}">
    <dxi-toolbar-item text="Water Distribution" location="left"></dxi-toolbar-item>

    <form (submit)="onFormSubmit($event) ">
        <dx-form id="form" [formData]="selectedWaterDistribution" [disabled]="loading" [colCount]="3">

            <!-- Subject field -->
            <!-- <dxi-item dataField="user.userName" cssClass="fix-label-position" [disabled]="true" editorType="dxTextBox"
                [editorOptions]="{ stylingMode: 'outlined', height:40}">
                <dxi-validation-rule type="required" message="subject is required"></dxi-validation-rule>
                <dxo-label [visible]="true" location="top" text="Subject"></dxo-label>
            </dxi-item> -->

            <!-- Start Date field -->
            <dxi-item dataField="startDate" cssClass="fix-label-position" [disabled]="true" editorType="dxDateBox"
                [editorOptions]="{ stylingMode: 'outlined', height:40, value:selectedWaterDistribution?.startDate}">
                <dxi-validation-rule type="required" message="Start Date is required"></dxi-validation-rule>
                <dxo-label [visible]="true" location="top" text="Start Date"></dxo-label>
            </dxi-item>

            <!-- end field -->
            <dxi-item dataField="endDate" cssClass="fix-label-position" [disabled]="true" editorType="dxDateBox"
                [editorOptions]="{ stylingMode: 'outlined', height:40, value:selectedWaterDistribution?.endDate}">
                <dxi-validation-rule type="required" message="End Date is required"></dxi-validation-rule>
                <dxo-label [visible]="true" location="top" text="End Date"></dxo-label>
            </dxi-item>

            <!-- Water Barge field -->
            <!-- <dxi-item dataField="user.userName" cssClass="fix-label-position" [disabled]="true" editorType="dxDateBox"
                [editorOptions]="{ stylingMode: 'outlined', height:40}">
                <dxi-validation-rule type="required" message="Water barge is required"></dxi-validation-rule>
                <dxo-label [visible]="true" location="top" text="Water Barge"></dxo-label>
            </dxi-item> -->

            <!-- Water Outlet  field -->
            <!-- <dxi-item dataField="user.userName" cssClass="fix-label-position" [disabled]="true" editorType="dxDateBox"
                [editorOptions]="{ stylingMode: 'outlined', height:40}">
                <dxi-validation-rule type="required" message="Water outlet is required"></dxi-validation-rule>
                <dxo-label [visible]="true" location="top" text="Water Outlet "></dxo-label>
            </dxi-item> -->

            <!-- rate  field -->
            <!-- <dxi-item dataField="user.userName" cssClass="fix-label-position" [disabled]="true" editorType="dxTextBox"
                [editorOptions]="{ stylingMode: 'outlined', height:40}">
                <dxi-validation-rule type="required" message="Rate is required"></dxi-validation-rule>
                <dxo-label [visible]="true" location="top" text="Rate"></dxo-label>
            </dxi-item> -->

            <!-- payment Status field -->
            <dxi-item dataField="paymentStatus" cssClass="fix-label-position" [disabled]="true" editorType="dxTextBox"
                [editorOptions]="{ stylingMode: 'outlined', height:40, value:selectedWaterDistribution?.paymentStatus}">
                <dxi-validation-rule type="required" message="Payment status is required"></dxi-validation-rule>
                <dxo-label [visible]="true" location="top" text="Payment Status"></dxo-label>
            </dxi-item>

            <!-- Requested Quantity  field -->
            <dxi-item dataField="qty" cssClass="fix-label-position" [disabled]="true" editorType="dxTextBox"
                [editorOptions]="{ stylingMode: 'outlined', height:40, value:selectedWaterDistribution?.qty}">
                <dxi-validation-rule type="required" message="Requested Quantity is required"></dxi-validation-rule>
                <dxo-label [visible]="true" location="top" text="Requested Quantity"></dxo-label>
            </dxi-item>

            <!-- Distribute   field -->
            <dxi-item dataField="distributedQty" cssClass="fix-label-position" editorType="dxNumberBox" [editorOptions]="{placeholder:'Enter Quantity', stylingMode: 'outlined', height:40,
                 max:selectedWaterDistribution?.qty, min:1}">
                <dxi-validation-rule type="required" message="Distributed qty is required"></dxi-validation-rule>
                <dxi-validation-rule type="numeric" message="Invalid distributed qty"></dxi-validation-rule>
                <dxo-label [visible]="true" location="top" text="Distributed Quantity"></dxo-label>
            </dxi-item>


            <dxi-item [colSpan]="3" itemType="button" horizontalAlignment="center"
                [buttonOptions]="submitButtonOptions">
            </dxi-item>


        </dx-form>
    </form>

</dx-popup>