<div class="container">

    <div class="dx-card py-3 position-relative">
        <div [ngClass]="isLoaderVisible ? 'loader' : ''"></div>
        <div class="dx-header mb-4">Measurement Unit List</div>
        <dx-data-grid 
            [dataSource]="DataSource" 
            [rowAlternationEnabled]="true" 
            [showBorders]="true"
            (onRowInserted)="addUOM($event.data)" 
            (onRowUpdated)="updateUOM($event.data)"
            (onRowRemoved)="deleteUOM($event.data.id)">

            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-editing [allowUpdating]="permissions.edit" [allowAdding]="permissions.add"
                [allowDeleting]="permissions.delete" [useIcons]="true">
            </dxo-editing>

            <dxo-toolbar>
                <dxi-item location="before" name="searchPanel" cssClass="p-dxSearchPanel" locateInMenu="auto">
                </dxi-item>
                <dxi-item location="before" name="addRowButton" cssClass="p-dxAddBtn" locateInMenu="auto">
                </dxi-item>
                <!-- <dxi-item location="after">
                            <dx-button icon="exportpdf" text="Export to PDF"></dx-button>
                        </dxi-item> -->
                <dxi-item location="after" name="exportButton" locateInMenu="auto">
                </dxi-item>
            </dxo-toolbar>

            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
            <dxo-search-panel [visible]="true"></dxo-search-panel>

            <!-- <dxi-column dataField="id" caption="SL No." [width]="100"></dxi-column> -->
            <dxi-column dataField="name" alignment="center">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="code" dataType="string" alignment="center">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>

            <dxo-export [enabled]="true" [allowExportSelectedData]="true" [fileName]="'Measurement_units'">
            </dxo-export>
        </dx-data-grid>
    </div>
</div>
