<form class="login-form" (submit)="onSubmit($event) ">
  <dx-form [formData]="formData" [disabled]="loading">

    <!-- email field -->
    <dxi-item dataField="email" editorType="dxTextBox" cssClass="login-input-field email" [editorOptions]="
        { 
          stylingMode: 'outlined', 
          placeholder: 'Email', 
          mode: 'email' 
        }">
      <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
      <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item itemType="button" horizontalAlignment="center" [buttonOptions]="buttonOptions"></dxi-item>
    
    <!-- login button -->
    <dxi-item class="login-input-field form-button">
      <div class="d-flex w-100 flex-column align-items-center  ">

        <div class="color-white py-2">Or </div>
        
        <dx-button class="create-btn" stylingMode="outlined" text="LOGIN" [width]="200" (onClick)="onLoginPage('login')"></dx-button>
      </div>
    </dxi-item>
  </dx-form>
</form>