<div class="container-fluid">

    <div class="dx-card position-relative" *ngIf="!isAssignSchedule">
        <div [ngClass]="isLoaderVisible ? 'loader' : ''"></div>
        <div class="dx-header"> Water Requisition List</div>

        <div class="py-3">
            <dx-data-grid [dataSource]="requisitions" [showBorders]="true" [rowAlternationEnabled]="true"
                (onEditingStart)="onReqEdit($event)" (onRowRemoved)="onReqDelete($event.data.id)">

                <dxo-editing [allowDeleting]="permissions.delete" [allowUpdating]="permissions.edit"
                    [allowAdding]="permissions.add">
                </dxo-editing>

                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-toolbar>
                    <dxi-item location="before" name="searchPanel" cssClass="p-dxSearchPanel" locateInMenu="auto">
                    </dxi-item>
                    <dxi-item location="before" widget="dxButton" [options]="addButtonOptions" cssClass="p-dxAddBtn"
                        locateInMenu="auto" [disabled]="!permissions.add">
                    </dxi-item>
                </dxo-toolbar>

                <dxi-column dataField="reqDate" dataType="date" alignment="center" [allowEditing]="false">
                </dxi-column>
                <dxi-column dataField="scheduleTime" [width]="300" dataType="string" alignment="center" [allowEditing]="false"  cellTemplate="diffCellTemplate"></dxi-column>
                <dxi-column dataField="uomId" dataType="number" alignment="center" [allowEditing]="false">
                </dxi-column>
                <dxi-column dataField="qty" dataType="number" alignment="center" [allowEditing]="false">
                </dxi-column>

                <div *dxTemplate="let d of 'diffCellTemplate'">
                    <dx-button *ngIf="!d.data.scheduleTime && activeUser.role?.name ==='Admin'"
                        (onClick)="onAssignSchedule(d.data)">
                        <span class="p-dxAddBtn">Assign Schedule</span>
                    </dx-button>
                    {{d.data.scheduleTime && d.data.scheduleTime.length > 2 ? d.data.scheduleTime :
                    activeUser.role?.name !=
                    'Admin' ? 'Not Assigned' :
                    ''}}
                </div>
            </dx-data-grid>
        </div>
    </div>

    <app-assign-schedule *ngIf="isAssignSchedule" [enableBack]="true" [waterRequisition]="selectedRequisition"
        (onBack)="onBack()">
    </app-assign-schedule>


    <dx-popup [width]="'70%'" [height]="'90%'" [showTitle]="true" [dragEnabled]="false" [closeOnOutsideClick]="true"
        [showCloseButton]="true" [wrapperAttr]="{class: 'toolbar-header-position'}" [(visible)]="isPopupVisible"
        (onHidden)="reset()">

        <dxi-toolbar-item text="Water Requisition" location="left">
        </dxi-toolbar-item>

        <dx-select-box *ngIf="activeUser.role?.name === 'Admin'" [dataSource]="userInfos" [(value)]="currentUser"
            [displayExpr]="'regNo'" (onSelectionChanged)="loadUserInfo(currentUser.userId ?? 0)"></dx-select-box>

        <form (submit)="onFormCreate($event)" class="pt-0">
            <dx-form id="form" [formData]="CreateWaterReq" [disabled]="loading" [colCount]="3">

                <!-- Date field -->
                <dxi-item dataField="reqDate" cssClass="fix-label-position" editorType="dxDateBox"
                    [editorOptions]="{ placeholder:'Select date', stylingMode: 'outlined', height:40}">
                    <dxi-validation-rule type="required" message="Date is required"></dxi-validation-rule>
                    <dxo-label [visible]="true" location="top" text="Date"></dxo-label>
                </dxi-item>

                <!-- Registration ID field -->
                <dxi-item dataField="userInfo.regNo" [disabled]="true" cssClass="fix-label-position"
                    editorType="dxTextBox"
                    [editorOptions]="{placeholder:'Enter registration number', stylingMode: 'outlined', height:40}">

                    <dxi-validation-rule type="required" message="Registration ID is required"></dxi-validation-rule>
                    <dxo-label [visible]="true" location="top" text="Registration ID"></dxo-label>
                </dxi-item>

                <!-- Username field -->
                <dxi-item dataField="userInfo.user.userName" [disabled]="true" cssClass="fix-label-position"
                    editorType="dxTextBox"
                    [editorOptions]="{ placeholder:'Enter name', stylingMode: 'outlined', height:40}">
                    <dxi-validation-rule type="required" message="Username is required"></dxi-validation-rule>
                    <dxo-label [visible]="true" location="top" text="Name"></dxo-label>
                </dxi-item>


                <!-- phone field -->
                <dxi-item dataField="userInfo.user.cellNo" [disabled]="true" editorType="dxTextBox"
                    cssClass="fix-label-position" [editorOptions]="{ stylingMode: 'outlined', 
                                 height:40, 
                                 mask: '+88 000-0000-0000', 
                                 maskRules: phoneRules,
                                 mode: 'Phone',
                                 placeholder: 'Enter phone number' }">

                    <dxi-validation-rule type="required" message="Phone number is required"></dxi-validation-rule>
                    <dxo-label [visible]="true" location="top" text="Phone Number"></dxo-label>
                </dxi-item>


                <!-- Ship Name field -->
                <dxi-item dataField="userInfo.shipName" [disabled]="true" cssClass="fix-label-position"
                    editorType="dxTextBox"
                    [editorOptions]="{placeholder:'Enter name', stylingMode: 'outlined', height:40}">

                    <dxi-validation-rule type="required" message="Ship name is required"></dxi-validation-rule>
                    <dxo-label [visible]="true" location="top" text="Ship Name"></dxo-label>
                </dxi-item>

                <!-- Ship No. field -->
                <dxi-item dataField="userInfo.shipNo" [disabled]="true" cssClass="fix-label-position"
                    editorType="dxTextBox"
                    [editorOptions]="{ placeholder:'Enter ship number', stylingMode: 'outlined', height:40}">

                    <dxi-validation-rule type="required" message="Ship number is required"></dxi-validation-rule>
                    <dxo-label [visible]="true" location="top" text="Ship No."></dxo-label>
                </dxi-item>

                <!-- license No. field -->
                <dxi-item dataField="userInfo.shipAgentLicense" [disabled]="true" cssClass="fix-label-position"
                    editorType="dxTextBox"
                    [editorOptions]="{ placeholder:'Enter license number', stylingMode: 'outlined', height:40}">

                    <dxi-validation-rule type="required" message="License number is required"></dxi-validation-rule>
                    <dxo-label [visible]="true" location="top" text="License Number"></dxo-label>
                </dxi-item>

                <!-- View Attached File field -->
                <dxi-item cssClass="fix-label-position">
                    <dx-button stylingMode="outlined" text="View Attachment" type="normal" [width]="'100%'"
                        (onClick)="onViewFile()">
                    </dx-button>
                    <dxo-label [visible]="true" location="top" text="View Attached File"></dxo-label>
                </dxi-item>

                <!-- Measurement Unit field -->
                <dxi-item dataField="uomId" [disabled]="true" cssClass="fix-label-position" editorType="dxSelectBox"
                    [editorOptions]="{ placeholder:'Enter measurement unit', stylingMode: 'outlined', 
                    height:40, dataSource: uoms, valueExpr:'id', displayExpr:'name'}">

                    <dxi-validation-rule type="required" message="Measurement unit is required"></dxi-validation-rule>
                    <dxo-label [visible]="true" location="top" text="Measurement Unit"></dxo-label>
                </dxi-item>

                <!-- Rate field -->
                <dxi-item dataField="rate" cssClass="fix-label-position" editorType="dxSelectBox" [editorOptions]="{ placeholder:'Enter rate', stylingMode: 'outlined', height:40, 
                    dataSource: rates, valueExpr:'id',  displayExpr:'rate', onValueChanged: onRateChanged()}">
                    <dxi-validation-rule type="required" message="Rate is required"></dxi-validation-rule>
                    <dxo-label [visible]="true" location="top" text="Rate"></dxo-label>
                </dxi-item>

                <!-- Quantity field -->
                <dxi-item dataField="qty" cssClass="fix-label-position" editorType="dxNumberBox" [editorOptions]="{ placeholder:'Enter Quantity', stylingMode: 'outlined', height:40, 
                min:1}">
                    <dxi-validation-rule type="required" message="Qty is required"></dxi-validation-rule>
                    <dxi-validation-rule type="numeric" message="Qty must be a number"></dxi-validation-rule>
                    <dxo-label [visible]="true" location="top" text="Quantity"></dxo-label>
                </dxi-item>

                <!-- empty field -->
                <dxi-item itemType="empty"></dxi-item>


                <dxi-item [colSpan]="3" itemType="button" horizontalAlignment="center"
                    [buttonOptions]="submitButtonOptions">
                </dxi-item>

            </dx-form>
        </form>

    </dx-popup>
</div>